* {
    font-family: sans-serif;
}

body {
    background-color: #e4e4e4;
    overflow: hidden;
    font-size: 12px;
}

.outer-container {
    text-align: center;
    background-color: white;
    width: 320px;
    max-height: calc(100vh - 100px);
    position: fixed;
    top: 50px;
    left: calc(50% - 160px);
    -webkit-box-shadow: 0 0 25px 0 rgba(140,140,140,1);
    -moz-box-shadow: 0 0 25px 0 rgba(140,140,140,1);
    box-shadow: 0 0 25px 0 rgba(140,140,140,1);
    overflow-x: hidden;
    overflow-y: auto;
}

.inner-container {
    margin: 20px;
}

.image-container {
    margin-bottom: 20px;
}

.image-container img {
    width: 100px;
    border-radius: 100%;
    border: 1px solid #767676;
    -webkit-box-shadow: 0 0 25px 0 rgba(140,140,140,1);
    -moz-box-shadow: 0 0 25px 0 rgba(140,140,140,1);
    box-shadow: 0 0 25px 0 rgba(140,140,140,1);
}

form.form {
    padding-right: 15px;
}

form.form input[class~="control"] {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.actions-container {
    margin-top: 20px;
    font-size: 0.9em;
}

.actions-container:after {
    content: "";
    display: table;
    clear: both;
}

.actions-container a {
    color: #006eff;
    text-decoration: none;
}

.actions-container .action-left {
    float: left;
}

.actions-container .action-right {
    float: right;
}

.scope-list {
    list-style-type: none;
    padding-left: 0;
}

.warning {
    border: 1px solid #ff0000;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.3);
    color: #ff0000;
}

.success {
    border: 1px solid #00ff00;
    padding: 10px 20px;
    background-color: rgba(0, 255, 0, 0.3);
    color: #000000;
}

#copyright-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #9d9d9d;
}

#copyright-container a,
#copyright-container a:hover,
#copyright-container a:active,
#copyright-container a:focus {
    color: #9d9d9d;
    text-decoration: none;
}